@charset "utf-8";

body {
    box-sizing: border-box;
    color: #222;
	font-family: Arial, "YuGothic Medium","Yu Gothic Medium","游ゴシック Medium","游ゴシック体 Medium",YuGothic,"Yu Gothic","游ゴシック","游ゴシック体","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-feature-settings : "palt";
    -moz-osx-font-smoothing: grayscale;
	background-color:#fcfcfc;
    width: 100vw;
    height: 100vh;
    font-size: 1.3rem;
    padding: 0 1vw;
}

a {
    text-decoration: none;
    color: #222;
}

.textwhite {
    color: white;
    font-weight: bold;
}

/* ------------------------------------- 
* スマホ用
------------------------------------- */
@media screen and (max-width:480px){


    /******************************************* 
    * top部分
    ********************************************/
    .logoarea {
        text-align: center;
    }

    .loginarea {
        display: flex;
    }

    .loginlist {
        width: 50%;
        margin: 10px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
    }

    .login {
        background-color: #0066ff;
    }

    .sign-up {
        background-color: #ff9900;
    }

    /******************************************* 
    * menu部分
    ********************************************/

    .menu {
        display: flex;
        overflow: scroll;
        margin: 10px;
        background-color: #a0a0a0;
    }

    .menulist {
        padding: 5%;
        white-space: nowrap;
    }
}